@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(108, 109, 110);
  background-color: #e3e2e2ac;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.links{
  display: flex;
}


.linkStyle {
  margin: 5px 10px;
  text-decoration: none;
  color: black;
  font-size: .7rem;

}

.linkStyle:hover {
  text-decoration: none;
  color: blue;

}

.task {
  background:#fff;
  margin: 10px 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.high{
  background-color: rgb(240, 1, 49);
  width: 40px;
  height: 10px;
  border-radius: 8px;
  float: right;
}
.medium{
  background-color: rgb(3, 191, 9);
  width: 40px;
  height: 10px;
  border-radius: 8px;
  float: right;
}
.low{
  background-color: rgb(26, 41, 246);
  width: 40px;
  height: 10px;
  border-radius: 8px;
  float: right;
}

.progress{
  color: rgb(2, 2, 76);
  margin-top: 5px;
  background-color: rgba(0, 0, 0, .0);
  border: none;
 border-bottom: 1px ridge;
}

.notCommited{
  background-color: #FCFE7C;
}

.inProgress{
  background-color: #C7FE7F;
}
.toDo{
  background-color: #9BECFD;
}

.completed{
  background-color: #FFC2E8;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tested{
text-decoration: line-through;
text-decoration-thickness: 1.5px;
}
.iconsNoShow{
  display: flex; 
  justify-content: flex-end;
  visibility: hidden;

}
.icons{
  visibility: visible;
  display: flex; 
  justify-content: flex-end;
}
.testedIcons{
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}
.testedIcons p{
  margin-right: 5px;
}
.check{
  color: green;
 
  margin-top: 4px;
      
    
}

.pic{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agileImg{
  width: 430px;
object-fit:contain;

}
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
